In [3]:
import pandas as pd

In [64]:
df1 = pd.read_csv("lieux-2022.csv", delimiter=';')
df1

C:\Users\abdel adel\AppData\Local\Temp\ipykernel_6200\3579348388.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("lieux-2022.csv", delimiter=';')

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202200000001,4,TEIL(vieille route du),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
1,202200000002,4,NaN,0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
2,202200000003,3,ROND POINT DE BREZILLET,0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,5,1,50
3,202200000004,4,QUATORZE JUILLET (RUE DU),0,NaN,1,1,0,2,(1),(1),1,NaN,4,1,0,1,30
4,202200000005,3,ROUTE DE JEAN MOULIN-RN 538,0,NaN,2,2,0,1,8,0,1,NaN,-1,1,0,1,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,3,71,-1,NaN,2,2,0,2,(1),(1),1,NaN,-1,1,0,8,80
55298,202200055299,3,973,-1,NaN,2,2,0,1,29,0,2,NaN,-1,1,0,3,80
55299,202200055300,3,22,0,D,2,2,0,1,39,553,2,NaN,-1,7,0,3,80
55300,202200055301,3,18,-1,D,2,2,0,1,30,125,1,NaN,-1,1,0,1,80
55301,202200055302,3,NaN,-1,NaN,3,4,0,1,(1),(1),1,NaN,4,1,0,1,70

In [68]:
col_names = []
nan_values = []
for col in df1.columns:
    col_names.append(col)
    nan_values.append(df1[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         catr                     0
2         voie                  4805
3           v1                     0
4           v2                 50047
5         circ                     0
6          nbv                     0
7         vosp                     0
8         prof                     0
9           pr                     0
10         pr1                     0
11        plan                     0
12      lartpc                 55274
13     larrout                     0
14        surf                     0
15       infra                     0
16        situ                     0
17         vma                     0

In [69]:
df2 = pd.read_csv("vehicules-2022.csv", delimiter=';')
df2

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202200000001,813 952,A01,1,2,0,2,1,9,1,NaN
1,202200000001,813 953,B01,1,7,0,2,2,1,1,NaN
2,202200000002,813 950,B01,2,7,0,2,8,15,1,NaN
3,202200000002,813 951,A01,2,10,0,2,1,1,1,NaN
4,202200000003,813 948,A01,2,7,0,2,1,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,2,7,2,0,1,1,1,NaN
94489,202200055301,715 631,A01,2,7,0,0,8,19,1,NaN
94490,202200055301,715 632,B01,2,7,0,2,1,1,1,NaN
94491,202200055302,715 629,A01,1,33,0,2,1,1,1,NaN
94492,202200055302,715 630,B01,1,7,0,0,4,21,1,NaN

In [70]:
col_names = []
nan_values = []
for col in df2.columns:
    col_names.append(col)
    nan_values.append(df2[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1   id_vehicule                     0
2       num_veh                     0
3          senc                     0
4          catv                     0
5           obs                     0
6          obsm                     0
7          choc                     0
8          manv                     0
9         motor                     0
10       occutc                 93676

In [71]:
df3 = pd.read_csv("usagers-2022.csv", delimiter=';')
df3

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [73]:
col_names = []
nan_values = []
for col in df3.columns:
    col_names.append(col)
    nan_values.append(df3[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1     id_usager                     0
2   id_vehicule                     0
3       num_veh                     0
4         place                     0
5          catu                     0
6          grav                     0
7          sexe                     0
8       an_nais                  2874
9        trajet                     0
10        secu1                     0
11        secu2                     0
12        secu3                     0
13         locp                     0
14         actp                     0
15        etatp                     0

In [74]:
df4 = pd.read_csv("carcteristiques-2022.csv", delimiter=';')
df4

,Accident_Id,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202200000001,19,10,2022,16:15,1,26,26198,2,3,1,3,TEIL(vieille route du),"44,5594200000","4,7257200000"
1,202200000002,20,10,2022,08:34,1,25,25204,2,3,1,3,Miranda,"46,9258100000","6,3462000000"
2,202200000003,20,10,2022,17:15,1,22,22360,2,6,1,2,ROND POINT DE BREZILLET,"48,4931620000","-2,7604390000"
3,202200000004,20,10,2022,18:00,1,16,16102,2,3,8,6,LOHMEYER (RUE),"45,6926520000","-0,3262900000"
4,202200000005,19,10,2022,11:45,1,13,13103,1,1,1,2,ROUTE DE JEAN MOULIN-RN 538,"43,6755790366","5,0927031775"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,1,1,2022,03:50,3,2B,2B293,1,1,1,6,D71,"42,3101650000","9,4785830000"
55298,202200055299,1,1,2022,07:20,3,84,84074,1,1,1,6,D973,"43,7531640000","5,2244760000"
55299,202200055300,1,1,2022,04:27,3,74,74001,1,1,9,6,D22,"46,2825320000","6,7328060000"
55300,202200055301,1,1,2022,08:40,1,81,81099,1,3,1,3,Chemin Toulze,"43,9272650000","1,9156370000"
55301,202200055302,1,3,2022,16:55,1,41,41018,2,1,1,2,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [75]:
col_names = []
nan_values = []
for col in df4.columns:
    col_names.append(col)
    nan_values.append(df4[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0   Accident_Id                     0
1          jour                     0
2          mois                     0
3            an                     0
4          hrmn                     0
5           lum                     0
6           dep                     0
7           com                     0
8           agg                     0
9           int                     0
10          atm                     0
11          col                     0
12          adr                  1233
13          lat                     0
14         long                     0

In [76]:
df5 = pd.read_csv("lieux-2021.csv", delimiter=';')
df5

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,NaN,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,4,0,1,0,1,1,NaN,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,NaN,2,2,-1,1,11,150,1,NaN,-1,1,0,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,65,-1,NaN,3,4,0,2,0,454,3,NaN,-1,2,9,2,130
56514,202100056515,3,520,0,D,2,2,0,1,46,2,1,NaN,-1,5,0,3,80
56515,202100056516,3,538,-1,NaN,2,2,0,2,49,24,2,NaN,-1,2,0,1,80
56516,202100056517,4,NaN,-1,NaN,2,2,0,1,(1),(1),2,NaN,-1,2,5,3,80
56517,202100056518,3,129,0,NaN,2,2,0,1,2,290,1,NaN,-1,2,0,1,70

In [77]:
col_names = []
nan_values = []
for col in df5.columns:
    col_names.append(col)
    nan_values.append(df5[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         catr                     0
2         voie                  4407
3           v1                     0
4           v2                 51528
5         circ                     0
6          nbv                     0
7         vosp                     0
8         prof                     0
9           pr                     0
10         pr1                     0
11        plan                     0
12      lartpc                 56410
13     larrout                     0
14        surf                     0
15       infra                     0
16        situ                     0
17         vma                     0

In [78]:
df6 = pd.read_csv("vehicules-2021.csv", delimiter=';')
df6

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,202100000001,201 765,A01,1,7,0,9,3,17,1,NaN
2,202100000002,201 762,A01,0,7,2,2,1,1,0,NaN
3,202100000002,201 763,B01,0,7,0,2,1,9,0,NaN
4,202100000003,201 761,A01,1,7,0,1,3,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
97310,202100056516,100 885,A01,1,7,0,2,1,5,1,NaN
97311,202100056516,100 886,B01,2,7,0,2,3,1,1,NaN
97312,202100056517,100 884,A01,2,7,6,0,5,6,1,NaN
97313,202100056518,100 882,A01,2,7,0,2,1,6,1,NaN
97314,202100056518,100 883,B01,1,7,0,2,1,1,1,NaN

In [79]:
col_names = []
nan_values = []
for col in df6.columns:
    col_names.append(col)
    nan_values.append(df6[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1   id_vehicule                     0
2       num_veh                     0
3          senc                     0
4          catv                     0
5           obs                     0
6          obsm                     0
7          choc                     0
8          manv                     0
9         motor                     0
10       occutc                 96571

In [80]:
df7 = pd.read_csv("usagers-2021.csv", delimiter=';')
df7

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,267 639,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,267 636,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,267 637,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,267 634,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129243,202100056516,133 821,100 885,A01,1,1,4,1,1975.0,0,1,-1,-1,0,0,-1
129244,202100056516,133 822,100 886,B01,1,1,4,1,2002.0,5,1,-1,-1,0,0,-1
129245,202100056517,133 820,100 884,A01,1,1,3,1,1999.0,0,0,-1,-1,0,0,-1
129246,202100056518,133 818,100 882,A01,1,1,3,1,1968.0,3,1,0,-1,-1,-1,-1
129247,202100056518,133 819,100 883,B01,1,1,3,1,1985.0,3,1,0,-1,-1,-1,-1

In [81]:
col_names = []
nan_values = []
for col in df7.columns:
    col_names.append(col)
    nan_values.append(df7[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1     id_usager                     0
2   id_vehicule                     0
3       num_veh                     0
4         place                     0
5          catu                     0
6          grav                     0
7          sexe                     0
8       an_nais                  3067
9        trajet                     0
10        secu1                     0
11        secu2                     0
12        secu3                     0
13         locp                     0
14         actp                     0
15        etatp                     0

In [82]:
df8 = pd.read_csv("carcteristiques-2021.csv", delimiter=';')
df8

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,1,2021,06:10,3,33,33021,1,1,5,6,NaN,"44,5266190000","-0,1955440000"
56514,202100056515,1,1,2021,10:20,1,38,38405,1,1,2,6,D520,"45,3802910000","5,7049140000"
56515,202100056516,1,1,2021,18:00,3,26,26064,1,1,2,1,Route départementale 538,"44,9112100000","5,0196360000"
56516,202100056517,1,1,2021,10:55,1,33,33003,1,2,1,6,Voie rapide Bassens Ambes,"44,9542747363","-0,5179211363"
56517,202100056518,2,1,2021,18:00,3,78,78423,1,1,3,1,VOLTA (AVENUE),"48,7966700000","2,0505000000"

In [83]:
col_names = []
nan_values = []
for col in df8.columns:
    col_names.append(col)
    nan_values.append(df8[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         jour                     0
2         mois                     0
3           an                     0
4         hrmn                     0
5          lum                     0
6          dep                     0
7          com                     0
8          agg                     0
9          int                     0
10         atm                     0
11         col                     0
12         adr                   573
13         lat                     0
14        long                     0

In [177]:
df_lieux = pd.concat([df5, df1])
df_lieux

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,NaN,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,4,0,1,0,1,1,NaN,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,NaN,2,2,-1,1,11,150,1,NaN,-1,1,0,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,3,71,-1,NaN,2,2,0,2,(1),(1),1,NaN,-1,1,0,8,80
55298,202200055299,3,973,-1,NaN,2,2,0,1,29,0,2,NaN,-1,1,0,3,80
55299,202200055300,3,22,0,D,2,2,0,1,39,553,2,NaN,-1,7,0,3,80
55300,202200055301,3,18,-1,D,2,2,0,1,30,125,1,NaN,-1,1,0,1,80
55301,202200055302,3,NaN,-1,NaN,3,4,0,1,(1),(1),1,NaN,4,1,0,1,70

In [95]:
col_names = []
nan_values = []
for col in df_lieux.columns:
    col_names.append(col)
    nan_values.append(df_lieux[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         catr                     0
2         voie                  9212
3           v1                     0
4           v2                101575
5         circ                     0
6          nbv                     0
7         vosp                     0
8         prof                     0
9           pr                     0
10         pr1                     0
11        plan                     0
12      lartpc                111684
13     larrout                     0
14        surf                     0
15       infra                     0
16        situ                     0
17         vma                     0

In [229]:
df_usagers = pd.concat([df7, df3])
df_usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,267 639,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,267 636,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,267 637,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,267 634,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [225]:
col_names = []
nan_values = []
for col in df_usagers.columns:
    col_names.append(col)
    nan_values.append(df_usagers[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1     id_usager                     0
2   id_vehicule                     0
3       num_veh                     0
4         place                     0
5          catu                     0
6          grav                     0
7          sexe                     0
8       an_nais                  5941
9        trajet                     0
10        secu1                     0
11        secu2                     0
12        secu3                     0
13         locp                     0
14         actp                     0
15        etatp                     0

In [190]:
df_vehicule = pd.concat([df6, df2])
df_vehicule

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,202100000001,201 765,A01,1,7,0,9,3,17,1,NaN
2,202100000002,201 762,A01,0,7,2,2,1,1,0,NaN
3,202100000002,201 763,B01,0,7,0,2,1,9,0,NaN
4,202100000003,201 761,A01,1,7,0,1,3,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,2,7,2,0,1,1,1,NaN
94489,202200055301,715 631,A01,2,7,0,0,8,19,1,NaN
94490,202200055301,715 632,B01,2,7,0,2,1,1,1,NaN
94491,202200055302,715 629,A01,1,33,0,2,1,1,1,NaN
94492,202200055302,715 630,B01,1,7,0,0,4,21,1,NaN

### df_caracteristiques

In [348]:
df_caracteristiques = pd.concat([df8, df4.rename(columns={"Accident_Id": "Num_Acc"})])
df_caracteristiques

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,1,1,2022,03:50,3,2B,2B293,1,1,1,6,D71,"42,3101650000","9,4785830000"
55298,202200055299,1,1,2022,07:20,3,84,84074,1,1,1,6,D973,"43,7531640000","5,2244760000"
55299,202200055300,1,1,2022,04:27,3,74,74001,1,1,9,6,D22,"46,2825320000","6,7328060000"
55300,202200055301,1,1,2022,08:40,1,81,81099,1,3,1,3,Chemin Toulze,"43,9272650000","1,9156370000"
55301,202200055302,1,3,2022,16:55,1,41,41018,2,1,1,2,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [349]:
col_names = []
nan_values = []
for col in df_caracteristiques.columns:
    col_names.append(col)
    nan_values.append(df_caracteristiques[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         jour                     0
2         mois                     0
3           an                     0
4         hrmn                     0
5          lum                     0
6          dep                     0
7          com                     0
8          agg                     0
9          int                     0
10         atm                     0
11         col                     0
12         adr                  1806
13         lat                     0
14        long                     0

In [350]:
df_caracteristiques["mois"] = df_caracteristiques["mois"].map({
    -1: "Non renseigné",
    1: 'Janvier',
    2: 'Février',
    3: 'Mars',
    4: 'Avril',
    5: 'Mai',
    6: 'Juin',
    7: 'Juillet',
    8: 'Août',
    9: 'Septembre',
    10: 'Octobre',
    11: 'Novembre',
    12: 'Décembre'
})
df_caracteristiques["lum"] = df_caracteristiques["lum"].map({
    -1: "Non renseigné",
    1: "Plein jour",
    2: "Crépuscule ou aube",
    3: "Nuit sans éclairage public",
    4: "Nuit avec éclairage public non allumé",
    5: "Nuit avec éclairage public allumé"})
df_caracteristiques["agg"] = df_caracteristiques["agg"].map({
    -1: "Non renseigné",
    1: "Hors agglomération",
    2: "En agglomération"
})
df_caracteristiques["int"] = df_caracteristiques["int"].map({
    -1: "Non renseigné",
    1: "Hors intersection",
2: "Intersection en X",
3: "Intersection en T",
4: "Intersection en Y",
5: "Intersection à plus de 4 branches",
6: "Giratoire",
7: "Place",
8: "Passage à niveau",
9: "Autre intersection",
})
df_caracteristiques["atm"] = df_caracteristiques["atm"].map({
    -1: "Non renseigné",
1: "Normale",
2: "Pluie légère",
3: "Pluie forte",
4: "Neige - grêle",
5: "Brouillard - fumée",
6: "Vent fort - tempête",
7: "Temps éblouissant",
8: "Temps couvert",
9: "Autre", 
})
df_caracteristiques["col"] = df_caracteristiques["col"].map({
    -1: "Non renseigné",
1: "Deux véhicules - frontale",
2: "Deux véhicules – par l’arrière",
3: "Deux véhicules – par le coté",
4: "Trois véhicules et plus – en chaîne",
5: "Trois véhicules et plus - collisions multiples",
6: "Autre collision",
7: "Sans collision", 
})

df_caracteristiques

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,Novembre,2021,07:32,Crépuscule ou aube,30,30319,Hors agglomération,Hors intersection,Normale,Deux véhicules - frontale,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,Septembre,2021,14:20,Plein jour,51,51544,Hors agglomération,Intersection en T,Normale,Deux véhicules – par le coté,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,Juillet,2021,07:55,Plein jour,85,85048,En agglomération,Hors intersection,Temps éblouissant,Autre collision,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,Mars,2021,19:45,Nuit avec éclairage public allumé,93,93005,En agglomération,Intersection en X,Pluie forte,Autre collision,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,Février,2021,07:20,Nuit avec éclairage public allumé,76,76429,En agglomération,Hors intersection,Normale,Deux véhicules – par l’arrière,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,1,Janvier,2022,03:50,Nuit sans éclairage public,2B,2B293,Hors agglomération,Hors intersection,Normale,Autre collision,D71,"42,3101650000","9,4785830000"
55298,202200055299,1,Janvier,2022,07:20,Nuit sans éclairage public,84,84074,Hors agglomération,Hors intersection,Normale,Autre collision,D973,"43,7531640000","5,2244760000"
55299,202200055300,1,Janvier,2022,04:27,Nuit sans éclairage public,74,74001,Hors agglomération,Hors intersection,Autre,Autre collision,D22,"46,2825320000","6,7328060000"
55300,202200055301,1,Janvier,2022,08:40,Plein jour,81,81099,Hors agglomération,Intersection en T,Normale,Deux véhicules – par le coté,Chemin Toulze,"43,9272650000","1,9156370000"
55301,202200055302,1,Mars,2022,16:55,Plein jour,41,41018,En agglomération,Hors intersection,Normale,Deux véhicules – par l’arrière,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [352]:
df_caracteristiques["adr"] = df_caracteristiques["adr"].fillna("Non renseigné")

In [353]:
col_names = []
nan_values = []
for col in df_caracteristiques.columns:
    col_names.append(col)
    nan_values.append(df_caracteristiques[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         jour                     0
2         mois                     0
3           an                     0
4         hrmn                     0
5          lum                     0
6          dep                     0
7          com                     0
8          agg                     0
9          int                     0
10         atm                     0
11         col                     0
12         adr                     0
13         lat                     0
14        long                     0

In [354]:
df_caracteristiques.to_csv("caracteristiques_21_22.csv")

### df_lieux

In [355]:
df_lieux = pd.concat([df5, df1])
df_lieux

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,NaN,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,4,0,1,0,1,1,NaN,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,NaN,2,2,-1,1,11,150,1,NaN,-1,1,0,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,3,71,-1,NaN,2,2,0,2,(1),(1),1,NaN,-1,1,0,8,80
55298,202200055299,3,973,-1,NaN,2,2,0,1,29,0,2,NaN,-1,1,0,3,80
55299,202200055300,3,22,0,D,2,2,0,1,39,553,2,NaN,-1,7,0,3,80
55300,202200055301,3,18,-1,D,2,2,0,1,30,125,1,NaN,-1,1,0,1,80
55301,202200055302,3,NaN,-1,NaN,3,4,0,1,(1),(1),1,NaN,4,1,0,1,70

In [356]:
df_lieux["infra"].value_counts()

 0    93890
 5     5851
 9     3965
 2     1860
 3     1407
 1     1314
-1     1313
 6     1021
 8      796
 4      343
 7       60
Name: infra, dtype: int64

In [357]:
col_names = []
nan_values = []
for col in df_lieux.columns:
    col_names.append(col)
    nan_values.append(df_lieux[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         catr                     0
2         voie                  9212
3           v1                     0
4           v2                101575
5         circ                     0
6          nbv                     0
7         vosp                     0
8         prof                     0
9           pr                     0
10         pr1                     0
11        plan                     0
12      lartpc                111684
13     larrout                     0
14        surf                     0
15       infra                     0
16        situ                     0
17         vma                     0

In [358]:
df_lieux["catr"] = df_lieux["catr"].map({
    1: 'Autoroute',
    2: 'Route nationale',
    3: 'Route Départementale',
    4: 'Voie Communales',
    5: 'Hors réseau public',
    6: 'Parc de stationnement ouvert à la circulation publique',
    7: 'Routes de métropole urbaine',
    9: 'Autre'
})
df_lieux["circ"] = df_lieux["circ"].map({
    -1: 'Non renseigné',
    1: 'A sens unique',
    2: 'Bidirectionnelle',
    3: 'A chaussées séparées',
    4: 'Avec voies d’affectation variable'
})
df_lieux["vosp"] = df_lieux["vosp"].map({
    -1: 'Non renseigné',
    0: 'Sans objet',
    1: 'Piste cyclable',
    2: 'Bande cyclable',
    3: 'Voie réservée'
})
df_lieux["prof"] = df_lieux["prof"].map({
    -1: 'Non renseigné',
    1: 'Plat',
    2: 'Pente',
    3: 'Sommet de côte',
    4: 'Bas de côte'
})
df_lieux["plan"] = df_lieux["plan"].map({
    -1: 'Non renseigné',
    1: 'Partie rectiligne',
    2: 'En courbe à gauche',
    3: 'En courbe à droite',
    4: 'En « S »'
})
df_lieux["surf"] = df_lieux["surf"].map({
    -1: 'Non renseigné',
    1: 'Normale',
    2: 'Mouillée',
    3: 'Flaques',
    4: 'Inondée',
    5: 'Enneigée',
    6: 'Boue',
    7: 'Verglacée',
    8: 'Corps gras – huile',
    9: 'Autre'
})
df_lieux["infra"] = df_lieux["infra"].map({
    -1: 'Non renseigné',
    0: 'Aucun',
    1: 'Souterrain - tunnel',
    2: 'Pont - autopont',
    3: 'Bretelle d’échangeur ou de raccordement',
    4: 'Voie ferrée',
    5: 'Carrefour aménagé',
    6: 'Zone piétonne',
    7: 'Zone de péage',
    8: 'Chantier',
    9: 'Autres'
})
df_lieux["situ"] = df_lieux["situ"].map({
    -1: 'Non renseigné',
    0: 'Aucun',
    1: 'Sur chaussée',
    2: 'Sur bande d’arrêt d’urgence',
    3: 'Sur accotement',
    4: 'Sur trottoir',
    5: 'Sur piste cyclable',
    6: 'Sur autre voie spéciale',
    8: 'Autres'
})
df_lieux

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,Route Départementale,981,-1,NaN,Bidirectionnelle,2,Sans objet,Plat,(1),(1),Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,80
1,202100000002,Route Départementale,20,0,E,Bidirectionnelle,2,Sans objet,Plat,0,10,Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,80
2,202100000003,Voie Communales,GENERAL GALLIENI (BOULEVARD DU),0,NaN,Bidirectionnelle,2,Sans objet,Plat,(1),(1),Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,50
3,202100000004,Route Départementale,GENERAL GALLIENI (BOULEVARD DU),0,NaN,Bidirectionnelle,4,Sans objet,Plat,0,1,Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,50
4,202100000005,Routes de métropole urbaine,PARIS. ROUTE DE,-1,NaN,Bidirectionnelle,2,Non renseigné,Plat,11,150,Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,Route Départementale,71,-1,NaN,Bidirectionnelle,2,Sans objet,Pente,(1),(1),Partie rectiligne,NaN,-1,Normale,Aucun,Autres,80
55298,202200055299,Route Départementale,973,-1,NaN,Bidirectionnelle,2,Sans objet,Plat,29,0,En courbe à gauche,NaN,-1,Normale,Aucun,Sur accotement,80
55299,202200055300,Route Départementale,22,0,D,Bidirectionnelle,2,Sans objet,Plat,39,553,En courbe à gauche,NaN,-1,Verglacée,Aucun,Sur accotement,80
55300,202200055301,Route Départementale,18,-1,D,Bidirectionnelle,2,Sans objet,Plat,30,125,Partie rectiligne,NaN,-1,Normale,Aucun,Sur chaussée,80
55301,202200055302,Route Départementale,NaN,-1,NaN,A chaussées séparées,4,Sans objet,Plat,(1),(1),Partie rectiligne,NaN,4,Normale,Aucun,Sur chaussée,70

In [360]:
df_lieux["voie"] = df_lieux["voie"].fillna("Non renseigné")
df_lieux["v2"] = df_lieux["v2"].fillna("Non renseigné")
df_lieux.drop(columns=["lartpc"], inplace=True)

In [361]:
col_names = []
nan_values = []
for col in df_lieux.columns:
    col_names.append(col)
    nan_values.append(df_lieux[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

   column name  number of nan values
0      Num_Acc                     0
1         catr                     0
2         voie                     0
3           v1                     0
4           v2                     0
5         circ                     0
6          nbv                     0
7         vosp                     0
8         prof                     0
9           pr                     0
10         pr1                     0
11        plan                     0
12     larrout                     0
13        surf                     0
14       infra                     0
15        situ                     0
16         vma                     0

In [362]:
df_lieux.to_csv("lieux_21_22.csv")

### df usagers

In [363]:
df_usagers = pd.concat([df7, df3])
df_usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,267 639,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,267 636,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,267 637,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,267 634,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [364]:
col_names = []
nan_values = []
for col in df_usagers.columns:
    col_names.append(col)
    nan_values.append(df_usagers[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1     id_usager                     0
2   id_vehicule                     0
3       num_veh                     0
4         place                     0
5          catu                     0
6          grav                     0
7          sexe                     0
8       an_nais                  5941
9        trajet                     0
10        secu1                     0
11        secu2                     0
12        secu3                     0
13         locp                     0
14         actp                     0
15        etatp                     0

In [365]:
# Assuming df_usagers is your DataFrame

# Mappings for variables
catu_mapping = {
    -1: 'Non renseigné',
    1: 'Conducteur',
    2: 'Passager',
    3: 'Piéton'
}

grav_mapping = {
    -1: 'Non renseigné',
    1: 'Indemne',
    2: 'Tué',
    3: 'Blessé hospitalisé',
    4: 'Blessé léger'
}

sexe_mapping = {
    -1: "Non renseigné",
    1: 'Masculin',
    2: 'Féminin'
}

trajet_mapping = {
    -1: 'Non renseigné',
    0: 'Non renseigné',
    1: 'Domicile – travail',
    2: 'Domicile – école',
    3: 'Courses – achats',
    4: 'Utilisation professionnelle',
    5: 'Promenade – loisirs',
    9: 'Autre'
}

secu_mapping = {
    -1: 'Non renseigné',
    0: 'Aucun équipement',
    1: 'Ceinture',
    2: 'Casque',
    3: 'Dispositif enfants',
    4: 'Gilet réfléchissant',
    5: 'Airbag (2RM/3RM)',
    6: 'Gants (2RM/3RM)',
    7: 'Gants + Airbag (2RM/3RM)',
    8: 'Non déterminable',
    9: 'Autre'
}

# Variables secu1, secu2, secu3 are the same, so using the same mapping

locp_mapping = {
    -1: 'Non renseigné',
    0: 'Sans objet',
    1: 'A + 50 m du passage piéton',
    2: 'A – 50 m du passage piéton',
    3: 'Sans signalisation lumineuse',
    4: 'Avec signalisation lumineuse',
    5: 'Sur trottoir',
    6: 'Sur accotement',
    7: 'Sur refuge ou BAU',
    8: 'Sur contre allée',
    9: 'Inconnue'
}

actp_mapping = {
    " -1": 'Non renseigné',
    "0": 'Non renseigné ou sans objet',
    "1": 'Sens véhicule heurtant',
    "2": 'Sens inverse du véhicule',
    "3": 'Traversant',
    "4": 'Masqué',
    "5": 'Jouant – courant',
    "6": 'Avec animal',
    "9": 'Autre',
    "7": 'Non renseigné',
    "8": 'Non renseigné',
    'A': "Monte/descend du véhicule",
    'B': "Inconnue"
}

etatp_mapping = {
    -1: 'Non renseigné',
    1: 'Seul',
    2: 'Accompagné',
    3: 'En groupe'
}

# List of columns to map
columns_to_map = ['catu', 'grav', 'sexe', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp']

# Apply mappings in a loop
for col_name in columns_to_map:
    if col_name in ['secu1', 'secu2', 'secu3']:
        df_usagers[col_name] = df_usagers[col_name].map(locals()[f"{col_name[:-1]}_mapping"])
        continue
    df_usagers[col_name] = df_usagers[col_name].map(locals()[f"{col_name}_mapping"])

df_usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,Conducteur,Blessé hospitalisé,Masculin,2000.0,Domicile – travail,Aucun équipement,Autre,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
1,202100000001,267 639,201 765,A01,1,Conducteur,Indemne,Masculin,1978.0,Domicile – travail,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
2,202100000002,267 636,201 762,A01,1,Conducteur,Blessé léger,Masculin,1983.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
3,202100000002,267 637,201 763,B01,1,Conducteur,Blessé hospitalisé,Masculin,1993.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
4,202100000003,267 634,201 761,A01,1,Conducteur,Indemne,Masculin,1995.0,Domicile – travail,Ceinture,Aucun équipement,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,Conducteur,Indemne,Féminin,2002.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126658,202200055301,968 231,715 631,A01,8,Passager,Blessé hospitalisé,Féminin,2004.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126659,202200055301,968 232,715 632,B01,1,Conducteur,Blessé léger,Féminin,1953.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126660,202200055302,968 228,715 629,A01,1,Conducteur,Blessé hospitalisé,Masculin,1992.0,Domicile – travail,Casque,Gants (2RM/3RM),Non renseigné,Non renseigné,Non renseigné,Non renseigné
126661,202200055302,968 229,715 630,B01,1,Conducteur,Indemne,Masculin,2000.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Non renseigné,Non renseigné,Non renseigné

In [367]:
df_usagers["an_nais"] = df_usagers["an_nais"].fillna("Non renseigné")
df_usagers["an_nais"].value_counts(dropna=False)

2000.0    7835
2001.0    7803
2002.0    7461
1999.0    7176
1998.0    6636
          ...
1913.0       4
1921.0       3
1920.0       3
1912.0       1
1919.0       1
Name: an_nais, Length: 107, dtype: int64

In [368]:
col_names = []
nan_values = []
for col in df_usagers.columns:
    col_names.append(col)
    nan_values.append(df_usagers[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1     id_usager                     0
2   id_vehicule                     0
3       num_veh                     0
4         place                     0
5          catu                     0
6          grav                     0
7          sexe                     0
8       an_nais                     0
9        trajet                     0
10        secu1                     0
11        secu2                     0
12        secu3                     0
13         locp                     0
14         actp                     0
15        etatp                     0

In [369]:
df_usagers.to_csv("usagers_21_22.csv")

### df vehicule

In [370]:
df_vehicule = pd.concat([df6, df2])
df_vehicule

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,202100000001,201 765,A01,1,7,0,9,3,17,1,NaN
2,202100000002,201 762,A01,0,7,2,2,1,1,0,NaN
3,202100000002,201 763,B01,0,7,0,2,1,9,0,NaN
4,202100000003,201 761,A01,1,7,0,1,3,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,2,7,2,0,1,1,1,NaN
94489,202200055301,715 631,A01,2,7,0,0,8,19,1,NaN
94490,202200055301,715 632,B01,2,7,0,2,1,1,1,NaN
94491,202200055302,715 629,A01,1,33,0,2,1,1,1,NaN
94492,202200055302,715 630,B01,1,7,0,0,4,21,1,NaN

In [371]:
col_names = []
nan_values = []
for col in df_vehicule.columns:
    col_names.append(col)
    nan_values.append(df_vehicule[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1   id_vehicule                     0
2       num_veh                     0
3          senc                     0
4          catv                     0
5           obs                     0
6          obsm                     0
7          choc                     0
8          manv                     0
9         motor                     0
10       occutc                190247

In [372]:
# Mappings for variables
senc_mapping = {
    -1: 'Non renseigné',
    0: 'Inconnu',
    1: 'PK ou PR ou numéro d’adresse postale croissant',
    2: 'PK ou PR ou numéro d’adresse postale décroissant',
    3: 'Absence de repère'
}

catv_mapping = {
    -1: 'Non renseigné',
    0: 'Indéterminable',
    1: 'Bicyclette',
    2: 'Cyclomoteur <50cm3',
    3: 'Voiturette (Quadricycle à moteur carrossé)',
    4: 'Référence inutilisée depuis 2006 (scooter immatriculé)',
    5: 'Référence inutilisée depuis 2006 (motocyclette)',
    6: 'Référence inutilisée depuis 2006 (side-car)',
    7: 'VL seul',
    8: 'Référence inutilisée depuis 2006 (VL + caravane)',
    9: 'Référence inutilisée depuis 2006 (VL + remorque)',
    10: 'VU seul 1,5T <= PTAC <= 3,5T avec ou sans remorque',
    11: 'Référence inutilisée depuis 2006 (VU (10) + caravane)',
    12: 'Référence inutilisée depuis 2006 (VU (10) + remorque)',
    13: 'PL seul 3,5T <PTCA <= 7,5T',
    14: 'PL seul > 7,5T',
    15: 'PL > 3,5T + remorque',
    16: 'Tracteur routier seul',
    17: 'Tracteur routier + semi-remorque',
    18: 'Référence inutilisée depuis 2006 (transport en commun)',
    19: 'Référence inutilisée depuis 2006 (tramway)',
    20: 'Engin spécial',
    21: 'Tracteur agricole',
    30: 'Scooter < 50 cm3',
    31: 'Motocyclette > 50 cm3 et <= 125 cm3',
    32: 'Scooter > 50 cm3 et <= 125 cm3',
    33: 'Motocyclette > 125 cm3',
    34: 'Scooter > 125 cm3',
    35: 'Quad léger <= 50 cm3 (Quadricycle à moteur non carrossé)',
    36: 'Quad lourd > 50 cm3 (Quadricycle à moteur non carrossé)',
    37: 'Autobus',
    38: 'Autocar',
    39: 'Train',
    40: 'Tramway',
    41: '3RM <= 50 cm3',
    42: '3RM > 50 cm3 <= 125 cm3',
    43: '3RM > 125 cm3',
    50: 'EDP à moteur',
    60: 'EDP sans moteur',
    80: 'VAE',
    99: 'Autre véhicule'
}

obs_mapping = {
    -1: 'Non renseigné',
    0: 'Sans objet',
    1: 'Véhicule en stationnement',
    2: 'Arbre',
    3: 'Glissière métallique',
    4: 'Glissière béton',
    5: 'Autre glissière',
    6: 'Bâtiment, mur, pile de pont',
    7: 'Support de signalisation verticale ou poste d’appel d’urgence',
    8: 'Poteau',
    9: 'Mobilier urbain',
    10: 'Parapet',
    11: 'Ilot, refuge, borne haute',
    12: 'Bordure de trottoir',
    13: 'Fossé, talus, paroi rocheuse',
    14: 'Autre obstacle fixe sur chaussée',
    15: 'Autre obstacle fixe sur trottoir ou accotement',
    16: 'Sortie de chaussée sans obstacle',
    17: 'Buse – tête d’aqueduc'
}

obsm_mapping = {
    -1: 'Non renseigné',
    0: 'Aucun',
    1: 'Piéton',
    2: 'Véhicule',
    4: 'Véhicule sur rail',
    5: 'Animal domestique',
    6: 'Animal',
    9: 'Autre'
}

# Mappings for variables
choc_mapping = {
    -1: 'Non renseigné',
    0: 'Aucun',
    1: 'Avant',
    2: 'Avant droit',
    3: 'Avant gauche',
    4: 'Arrière',
    5: 'Arrière droit',
    6: 'Arrière gauche',
    7: 'Côté droit',
    8: 'Côté gauche',
    9: 'Chocs multiples (tonneaux)'
}

manv_mapping = {
    -1: 'Non renseigné',
    0: 'Inconnue',
    1: 'Sans changement de direction',
    2: 'Même sens, même file',
    3: 'Entre 2 files',
    4: 'En marche arrière',
    5: 'A contresens',
    6: 'En franchissant le terre-plein central',
    7: 'Dans le couloir bus, dans le même sens',
    8: 'Dans le couloir bus, dans le sens inverse',
    9: 'En s’insérant',
    10: 'En faisant demi-tour sur la chaussée',
    11: 'Changeant de file à gauche',
    12: 'Changeant de file à droite',
    13: 'Déporté à gauche',
    14: 'Déporté à droite',
    15: 'Tournant à gauche',
    16: 'Tournant à droite',
    17: 'Dépassant à gauche',
    18: 'Dépassant à droite',
    19: 'Traversant la chaussée',
    20: 'Manœuvre de stationnement',
    21: 'Manœuvre d’évitement',
    22: 'Ouverture de porte',
    23: 'Arrêté (hors stationnement)',
    24: 'En stationnement (avec occupants)',
    25: 'Circulant sur trottoir',
    26: 'Autres manœuvres'
}

motor_mapping = {
    -1: 'Non renseigné',
    0: 'Inconnue',
    1: 'Hydrocarbures',
    2: 'Hybride électrique',
    3: 'Electrique',
    4: 'Hydrogène',
    5: 'Humaine',
    6: 'Autre'
}

# List of columns to map
columns_to_map = ['senc','catv','obs','obsm','choc','manv','motor']

# Apply mappings in a loop
for col_name in columns_to_map:
    df_vehicule[col_name] = df_vehicule[col_name].map(locals()[f"{col_name}_mapping"])

df_vehicule

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,PK ou PR ou numéro d’adresse postale croissant,Bicyclette,Sans objet,Véhicule,Avant,Sans changement de direction,Humaine,NaN
1,202100000001,201 765,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Autre,Avant gauche,Dépassant à gauche,Hydrocarbures,NaN
2,202100000002,201 762,A01,Inconnu,VL seul,Arbre,Véhicule,Avant,Sans changement de direction,Inconnue,NaN
3,202100000002,201 763,B01,Inconnu,VL seul,Sans objet,Véhicule,Avant,En s’insérant,Inconnue,NaN
4,202100000003,201 761,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Piéton,Avant gauche,Sans changement de direction,Hydrocarbures,NaN
...,...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Arbre,Aucun,Avant,Sans changement de direction,Hydrocarbures,NaN
94489,202200055301,715 631,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Aucun,Côté gauche,Traversant la chaussée,Hydrocarbures,NaN
94490,202200055301,715 632,B01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures,NaN
94491,202200055302,715 629,A01,PK ou PR ou numéro d’adresse postale croissant,Motocyclette > 125 cm3,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures,NaN
94492,202200055302,715 630,B01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Aucun,Arrière,Manœuvre d’évitement,Hydrocarbures,NaN

In [373]:
col_names = []
nan_values = []
for col in df_vehicule.columns:
    col_names.append(col)
    nan_values.append(df_vehicule[col].isna().sum())
pd.DataFrame({
    "column name": col_names,
    "number of nan values": nan_values
})

    column name  number of nan values
0       Num_Acc                     0
1   id_vehicule                     0
2       num_veh                     0
3          senc                     0
4          catv                     0
5           obs                     0
6          obsm                     0
7          choc                     0
8          manv                     0
9         motor                     0
10       occutc                190247

In [374]:
df_vehicule.drop(columns=["occutc"], inplace=True)
df_vehicule

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor
0,202100000001,201 764,B01,PK ou PR ou numéro d’adresse postale croissant,Bicyclette,Sans objet,Véhicule,Avant,Sans changement de direction,Humaine
1,202100000001,201 765,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Autre,Avant gauche,Dépassant à gauche,Hydrocarbures
2,202100000002,201 762,A01,Inconnu,VL seul,Arbre,Véhicule,Avant,Sans changement de direction,Inconnue
3,202100000002,201 763,B01,Inconnu,VL seul,Sans objet,Véhicule,Avant,En s’insérant,Inconnue
4,202100000003,201 761,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Piéton,Avant gauche,Sans changement de direction,Hydrocarbures
...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Arbre,Aucun,Avant,Sans changement de direction,Hydrocarbures
94489,202200055301,715 631,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Aucun,Côté gauche,Traversant la chaussée,Hydrocarbures
94490,202200055301,715 632,B01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures
94491,202200055302,715 629,A01,PK ou PR ou numéro d’adresse postale croissant,Motocyclette > 125 cm3,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures
94492,202200055302,715 630,B01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Aucun,Arrière,Manœuvre d’évitement,Hydrocarbures

In [375]:
df_vehicule.to_csv("vehicule_21_22.csv")

## Open dataframes

In [381]:
df = pd.read_csv("caracteristiques_21_22.csv", index_col="Unnamed: 0")
df

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,Novembre,2021,07:32,Crépuscule ou aube,30,30319,Hors agglomération,Hors intersection,Normale,Deux véhicules - frontale,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,Septembre,2021,14:20,Plein jour,51,51544,Hors agglomération,Intersection en T,Normale,Deux véhicules – par le coté,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,Juillet,2021,07:55,Plein jour,85,85048,En agglomération,Hors intersection,Temps éblouissant,Autre collision,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,Mars,2021,19:45,Nuit avec éclairage public allumé,93,93005,En agglomération,Intersection en X,Pluie forte,Autre collision,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,Février,2021,07:20,Nuit avec éclairage public allumé,76,76429,En agglomération,Hors intersection,Normale,Deux véhicules – par l’arrière,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,1,Janvier,2022,03:50,Nuit sans éclairage public,2B,2B293,Hors agglomération,Hors intersection,Normale,Autre collision,D71,"42,3101650000","9,4785830000"
55298,202200055299,1,Janvier,2022,07:20,Nuit sans éclairage public,84,84074,Hors agglomération,Hors intersection,Normale,Autre collision,D973,"43,7531640000","5,2244760000"
55299,202200055300,1,Janvier,2022,04:27,Nuit sans éclairage public,74,74001,Hors agglomération,Hors intersection,Autre,Autre collision,D22,"46,2825320000","6,7328060000"
55300,202200055301,1,Janvier,2022,08:40,Plein jour,81,81099,Hors agglomération,Intersection en T,Normale,Deux véhicules – par le coté,Chemin Toulze,"43,9272650000","1,9156370000"
55301,202200055302,1,Mars,2022,16:55,Plein jour,41,41018,En agglomération,Hors intersection,Normale,Deux véhicules – par l’arrière,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [382]:
df = pd.read_csv("lieux_21_22.csv", index_col="Unnamed: 0")
df

C:\Users\abdel adel\AppData\Local\Temp\ipykernel_6200\1467178246.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("lieux_21_22.csv", index_col="Unnamed: 0")

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma
0,202100000001,Route Départementale,981,-1,Non renseigné,Bidirectionnelle,2,Sans objet,Plat,(1),(1),Partie rectiligne,-1,Normale,Aucun,Sur chaussée,80
1,202100000002,Route Départementale,20,0,E,Bidirectionnelle,2,Sans objet,Plat,0,10,Partie rectiligne,-1,Normale,Aucun,Sur chaussée,80
2,202100000003,Voie Communales,GENERAL GALLIENI (BOULEVARD DU),0,Non renseigné,Bidirectionnelle,2,Sans objet,Plat,(1),(1),Partie rectiligne,-1,Normale,Aucun,Sur chaussée,50
3,202100000004,Route Départementale,GENERAL GALLIENI (BOULEVARD DU),0,Non renseigné,Bidirectionnelle,4,Sans objet,Plat,0,1,Partie rectiligne,-1,Normale,Aucun,Sur chaussée,50
4,202100000005,Routes de métropole urbaine,PARIS. ROUTE DE,-1,Non renseigné,Bidirectionnelle,2,Non renseigné,Plat,11,150,Partie rectiligne,-1,Normale,Aucun,Sur chaussée,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,Route Départementale,71,-1,Non renseigné,Bidirectionnelle,2,Sans objet,Pente,(1),(1),Partie rectiligne,-1,Normale,Aucun,Autres,80
55298,202200055299,Route Départementale,973,-1,Non renseigné,Bidirectionnelle,2,Sans objet,Plat,29,0,En courbe à gauche,-1,Normale,Aucun,Sur accotement,80
55299,202200055300,Route Départementale,22,0,D,Bidirectionnelle,2,Sans objet,Plat,39,553,En courbe à gauche,-1,Verglacée,Aucun,Sur accotement,80
55300,202200055301,Route Départementale,18,-1,D,Bidirectionnelle,2,Sans objet,Plat,30,125,Partie rectiligne,-1,Normale,Aucun,Sur chaussée,80
55301,202200055302,Route Départementale,Non renseigné,-1,Non renseigné,A chaussées séparées,4,Sans objet,Plat,(1),(1),Partie rectiligne,4,Normale,Aucun,Sur chaussée,70

In [383]:
df = pd.read_csv("vehicule_21_22.csv", index_col="Unnamed: 0")
df

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor
0,202100000001,201 764,B01,PK ou PR ou numéro d’adresse postale croissant,Bicyclette,Sans objet,Véhicule,Avant,Sans changement de direction,Humaine
1,202100000001,201 765,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Autre,Avant gauche,Dépassant à gauche,Hydrocarbures
2,202100000002,201 762,A01,Inconnu,VL seul,Arbre,Véhicule,Avant,Sans changement de direction,Inconnue
3,202100000002,201 763,B01,Inconnu,VL seul,Sans objet,Véhicule,Avant,En s’insérant,Inconnue
4,202100000003,201 761,A01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Piéton,Avant gauche,Sans changement de direction,Hydrocarbures
...,...,...,...,...,...,...,...,...,...,...
94488,202200055300,715 633,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Arbre,Aucun,Avant,Sans changement de direction,Hydrocarbures
94489,202200055301,715 631,A01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Aucun,Côté gauche,Traversant la chaussée,Hydrocarbures
94490,202200055301,715 632,B01,PK ou PR ou numéro d’adresse postale décroissant,VL seul,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures
94491,202200055302,715 629,A01,PK ou PR ou numéro d’adresse postale croissant,Motocyclette > 125 cm3,Sans objet,Véhicule,Avant,Sans changement de direction,Hydrocarbures
94492,202200055302,715 630,B01,PK ou PR ou numéro d’adresse postale croissant,VL seul,Sans objet,Aucun,Arrière,Manœuvre d’évitement,Hydrocarbures

In [384]:
df = pd.read_csv("usagers_21_22.csv", index_col="Unnamed: 0")
df

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,267 638,201 764,B01,1,Conducteur,Blessé hospitalisé,Masculin,2000.0,Domicile – travail,Aucun équipement,Autre,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
1,202100000001,267 639,201 765,A01,1,Conducteur,Indemne,Masculin,1978.0,Domicile – travail,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
2,202100000002,267 636,201 762,A01,1,Conducteur,Blessé léger,Masculin,1983.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
3,202100000002,267 637,201 763,B01,1,Conducteur,Blessé hospitalisé,Masculin,1993.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
4,202100000003,267 634,201 761,A01,1,Conducteur,Indemne,Masculin,1995.0,Domicile – travail,Ceinture,Aucun équipement,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,Conducteur,Indemne,Féminin,2002.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126658,202200055301,968 231,715 631,A01,8,Passager,Blessé hospitalisé,Féminin,2004.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126659,202200055301,968 232,715 632,B01,1,Conducteur,Blessé léger,Féminin,1953.0,Promenade – loisirs,Ceinture,Non renseigné,Non renseigné,Sans objet,Non renseigné ou sans objet,Non renseigné
126660,202200055302,968 228,715 629,A01,1,Conducteur,Blessé hospitalisé,Masculin,1992.0,Domicile – travail,Casque,Gants (2RM/3RM),Non renseigné,Non renseigné,Non renseigné,Non renseigné
126661,202200055302,968 229,715 630,B01,1,Conducteur,Indemne,Masculin,2000.0,Non renseigné,Ceinture,Non renseigné,Non renseigné,Non renseigné,Non renseigné,Non renseigné